<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/coreui-5.1.2-dist/css/coreui-reboot.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/coreui-5.1.2-dist/css/coreui.min.css') }}" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="modal-container">
        {% block modal_container %}{% endblock %}
    </div>
    {% include '@InfinityBundle/part/sidebar.html.twig' %}
    {% include '@InfinityBundle/part/content.html.twig' %}
{% endblock %}
{% block body_scripts %}
    <script src="{{ asset('bundles/infinity/htmx/htmx.min.js') }}"></script>
    <script src="{{ asset('bundles/infinity/coreui-5.1.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bundles/infinity/coreui-5.1.2-dist/js/coreui.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
