<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/coreui-5.1.2-dist/css/coreui-reboot.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/coreui-5.1.2-dist/css/coreui.min.css') }}" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="modal-container">
        {% block modal_container %}{% endblock %}
    </div>
    <div id="sidebar" class="sidebar border-end sidebar-fixed sidebar-dark">
        <div class="sidebar-header border-bottom">
            {% block sidebar_header %}
                <div class="sidebar-brand">CoreUI</div>
            {% endblock %}
        </div>
        <ul class="sidebar-nav">
            <li class="nav-title">Nav Title</li>
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="nav-icon cil-speedometer"></i> Nav item
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cil-speedometer"></i> With badge
                    <span class="badge bg-primary ms-auto">NEW</span>
                </a>
            </li>
            <li class="nav-item nav-group show">
                <a class="nav-link nav-group-toggle" href="#">
                    <i class="nav-icon cil-puzzle"></i> Nav dropdown
                </a>
                <ul class="nav-group-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Nav dropdown item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Nav dropdown item
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mt-5">
                <a class="nav-link" href="https://coreui.io">
                    <i class="nav-icon cil-cloud-download"></i> Download CoreUI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://coreui.io/pro/">
                    <i class="nav-icon cil-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer border-top d-flex">
            <button class="sidebar-toggler" type="button"></button>
        </div>
    </div>
    <div id="content" class="wrapper d-flex flex-column min-vh-100">
        <header id="header" class="header header-sticky p-0 mb-4">
            <div class="container-fluid border-bottom px-4">
                {% block header %}
                    <ul class="header-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Some
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Some
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Some
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
            <div class="container-fluid px-4">
                {% block navigation %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0">
                        <li class="breadcrumb-item active">
                            Something
                        </li>
                    </ol>
                </nav>
                {% endblock %}
            </div>
        </header>
        <div id="body" class="body flex-grow-1">
            <div class="container-lg px-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block body_scripts %}
    <script src="{{ asset('bundles/infinity/htmx/htmx.min.js') }}"></script>
    <script src="{{ asset('bundles/infinity/coreui-5.1.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bundles/infinity/coreui-5.1.2-dist/js/coreui.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
