<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>{% block title %}{{ infinity_navigator() }}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/coreui-5.1.2-dist/css/coreui-reboot.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/coreui-5.1.2-dist/css/coreui.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/infinity/css/style.css') }}" />
    {% endblock %}
</head>
<body data-coreui-theme="dark">
{% block body %}
    <div id="modal-container">
        {% block modal_container %}{% endblock %}
    </div>
    {% block sidebar %}
        <div id="sidebar" class="sidebar border-end sidebar-fixed sidebar-dark" data-random="{{ uuid4() }}" {% block sidebar_attributes %}{% endblock %}>
            <div class="sidebar-header border-bottom">
                {% block sidebar_header %}
                    <div class="sidebar-brand">InfinityAdmin</div>
                {% endblock %}
            </div>
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" hx-get="{{ path('infinity.opa') }}" hx-swap="innerHTML" hx-target="#body" hx-push-url="true">
                        Dashboard
                    </a>
                </li>
                {% set lastGroup = null %}
                {% for resource in infinity_resource().all() %}
                    {# @var \Infinity\Entity\Model\Resource resource #}
                    {% if resource.displayable() %}
                        {% if lastGroup is null or lastGroup != resource.group.id %}
                            <li class="nav-title">
                                {{ resource.group.label }}
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" hx-get="{{ infinity_router().generate(resource) }}" hx-swap="innerHTML" hx-target="#body" hx-push-url="true">
                                {{ resource.entity }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="sidebar-footer border-top d-flex">
                <button class="sidebar-toggler" type="button"></button>
            </div>
        </div>
    {% endblock %}
    <div id="content" class="wrapper d-flex flex-column min-vh-100">
        {% block header %}
            <header id="header" class="header header-sticky p-0 mb-4" {% block header_attributes %}{% endblock %}>
                {% block header_content %}
                    <div id="header-content" class="container-fluid border-bottom px-4" {% block header_content_attributes %}{% endblock %}>
                        <ul class="header-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Some
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Some
                                </a>
                            </li>
                            {% include '@InfinityBundle/component/header/vertical-spacer.html.twig' %}
                            <li class="nav-item dropdown">
                                <a class="nav-link py-0 pe-0 d-flex align-items-center" data-coreui-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                    <span>
                                        {{ infinity_context.user() }}
                                    </span>
                                    <div class="avatar avatar-md ms-2">
                                        <img class="avatar-img" src="https://placehold.co/50" />
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end pt-0" data-popper-placement="bottom-end">
                                    <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold rounded-top-2 mb-2">
                                        Account
                                    </div>
                                    <a class="dropdown-item">
                                        Some text
                                        <span class="badge badge-sm bg-info ms-2">
                                            55
                                        </span>
                                    </a>
                                    <a class="dropdown-item" href="{{ path('infinity.logout') }}">
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
                {% block breadcrumb %}
                    <div id="breadcrumb" class="container-fluid px-4" {% block breadcrumb_attributes %}{% endblock %}>
                        {% block breadcrumb_content %}
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb my-0">
                                    {% for crumb in infinity_navigator().get() %}
                                        <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                                            {% if not loop.last %}
                                                <a hx-get="{{  crumb.url }}" hx-swap="innerHTML" hx-target="#body" hx-push-url="true">
                                                    {{ crumb.label }}
                                                </a>
                                            {% else %}
                                                {{ crumb.label }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </nav>
                        {% endblock %}
                    </div>
                {% endblock %}
            </header>
        {% endblock %}
        {% block container %}
            <div id="body" class="body flex-grow-1">
                <div class="container-lg px-4">
                    {% block content %}
                        This is the dashboard content
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block body_scripts %}
    <script src="{{ asset('bundles/infinity/htmx/htmx.min.js') }}"></script>
    <script src="{{ asset('bundles/infinity/coreui-5.1.2-dist/js/coreui.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
